table{
    margin-top: 200px;
    margin-bottom: 150px !important;
}

form input, select, .filter input[placeholder]{
    width: 300px !important;
}

.filter input[placeholder], .filter select{
    display: none;
}
.filter{
    display: none;
}
.center{
    text-align: center;
}
.error{
    color: red;
}
.success{
    color: #36c136;
}
.time{
    width: 65px !important;
    display: inline-block;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #585c5f;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #98a1a7;
}
tbody tr:hover{
    background: #dad9d9 !important;
}
.function{
    border: 0 !important;
}