<!DOCTYPE html>
<html lang=ru>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Аренда автомабилей{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Аренда автомобилей</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">История</a>
                        </li>
                        <li class="nav-item">
                            <a href="/orders/" class="nav-link">Аренда</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/" class="nav-link">Арендаторы</a>
                        </li>
                        <li class="nav-item">
                            <a href="/cars/" class="nav-link">Машины</a>
                        </li>
                        <li class="nav-item">
                            <a href="/points/" class="nav-link">Салоны</a>
                        </li>
                        <li class="nav-item">
                            <a href="/orders/add" class="nav-link">Добавить аренду </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- End of Header -->
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script defer type="text/javascript" src="/js/jquery.js"></script>
            <script defer type="text/javascript"  src="/js/bootstrap.min.js"></script>
            <script defer type="text/javascript" src="/js/script.js"></script>
        {% endblock %}
    </body>
</html>
