{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2 class="m-4">История аренды</h2>

    <div class="container-fluid mt-5 filter">
        <div class="form-group">
            <input type="checkbox" value="brand" class="openFiltre">
            <label for="exampleFormControlInput1">Марка автомабиля</label><br>
            <select required name="brand" class="form-control">
                {% for car in cars %}
                    <option value="{{ car.getCarNumber }}">
                        {{ car.getCarName }} {{ car.getCarNumber }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" value="fio" class="openFiltre">
            <label for="exampleFormControlInput1">ФИО аредатора, его серия и номер паспорта</label><br>
            <select required name="fio" class="form-control">
                {% for user in users %}
                    <option value="{{ user.getUserPasNumber }}">
                        {{ user.getUserFio }} {{ user.getUserPasNumber }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" value="date_start" class="openFiltre">
            <label for="exampleFormControlInput1">Дата взятия в прокат</label><br>
            <input type="date" class="form-control" name="date_start" placeholder="Дата взятия">
        </div>
        <div class="form-group">
            <input type="checkbox" value="date_end" class="openFiltre">
            <label for="exampleFormControlInput1">Дата возврата в прокат</label><br>
            <input type="date" class="form-control" name="date_end" placeholder="Дата возврата">
        </div>
        <button type="button" class="btn btn-success getfiltre">Посмотреть аренду</button>
    </div>
    <div class="container-fluid">
        <button type="submit" class="btn btn-success mt-5 show">Поиск по фильтрам</button>
    </div>

    <div class="mt-5">
        <h6>Средняя продолжительность проката автомобиля по точке</h6>
        <select required name="avgPoint" class="form-control  ml-2">
            <option disabled>Салоны</option>
            {% for point in points %}
                <option value="{{ point.getPointAdr }}" >{{ point.getPointName }}</option>
            {% endfor %}
        </select>
        <select required name="avgCar" class="form-control  ml-2 mt-3">
            <option disabled>Машины</option>
            {% for car in cars %}
                <option value="{{ car.getCarNumber }}" >{{ car.getCarName }} {{ car.getCarNumber }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="progress mt-3" style="height: 20px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="30">0  Дней</div>
    </div>

    <table class="table table-striped table-bordered table-hover tableID">
        <thead>
        <tr>
            <th class="center align-middle">Марка автомобиля</th>
            <th class="center align-middle">Номер автомобиля</th>
            <th class="center align-middle">ФИО арендатора,<p>серия и номер паспорта</p></th>
            <th class="center align-middle">Цена (руб.)</th>
            <th class="center align-middle">Дата взятия в прокат</th>
            <th class="center align-middle">Дата возврата в прокат</th>
            <th class="center align-middle">Точка взятия автомобия и адрес</th>
            <th class="center align-middle">Точка сдачи автомобиля и адрес</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.car_name }} </td>
            <td class="center">{{ order.number_car }} </td>
            <td> {{ order.user_fio }},
                Серия: {{ order.pasport_number|split(' ')[0] }} Номер: {{ order.pasport_number|split(' ')[1] }} </td>
            <td> {{ order.price }} </td>
            <td class="center">{{ order.drive_start|date('d.m.Y H:i') }} </td>
            <td class="center">{{ order.drive_end |date('d.m.Y H:i') }} </td>
            <td class="center">{{ order.point_start }},<p>{{ order.point_start_adr }}</p></td>
            <td class="center">{{ order.point_end }},<p>{{ order.point_end_adr }}</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
