{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid pl-5">
    <h2 class="m-4 ">Салон</h2>

    {% if error is defined %}
        <h4 class="mt-3 mb-3 error">{{ error }}</h4>
    {% endif  %}

    {% if success is defined %}
        <h4 class="mt-3 mb-3 success">{{ success }}</h4>
    {% endif  %}

    <a href="."><button type="button" name="submit" class="btn btn-secondary mt-4 mb-3">Назад</button></a>

    <div class="mt-5">
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <h4>Адрес <span class="h6">(Улица и дом)</span></h4>
                    <div class="form-group">
                        <input type="text" class="form-control" required name="adress" placeholder="Ленина 9"
                                {% if point is defined %}
                                    value="{{point.getPointAdr }}"
                                {% endif  %}>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="h6">Название салона</label><br>
                        <input type="text" class="form-control" required name="name" placeholder="Umbrella"
                                {% if point is defined %}
                                    value="{{ point.getPointName() }}"
                                {% endif  %}>
                    </div>

                    <div class="container-fluid">
                        <button type="submit" name="submit" class="btn btn-success mt-5 mb-5">
                            {% if point is defined %}
                                Изменить
                            {% else %}
                                Добавить
                            {% endif  %}
                            салон
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
