{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2 class="m-4">Салоны</h2>


    <div class="container-fluid">
        <a href="add"><button type="submit" class="btn btn-success mt-5">Добавить салон</button></a>
    </div>

    <table class="table table-striped table-bordered table-hover tableID">
        <thead>
        <tr>
            <th class="function"></th>
            <th class="center align-middle">Название салона</th>
            <th class="center align-middle">Адрес салона</th>
        </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td class="function">
                    <a href="change?point={{ point.getPointId }}">
                        <button  class=" btn btn-warning pb-1 pl-1 pr-2 pt-1">
                            Именить
                        </button>
                    </a>
                    <button  class=" btn btn-danger pl-1 pr-2 del"  value="{{ point.getPointId }}" style="padding: 3px">Удалить</button>
                </td>
                <td class="w-50">{{ point.getPointName}} </td>
                <td class="w-25">{{ point.getPointAdr}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
