{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid pl-5">
    <h2 class="m-4 ">История аренды</h2>

    {% if error is defined %}
        <h4 class="mt-3 mb-3 error">{{ error }}</h4>
    {% endif  %}

    {% if success is defined %}
        <h4 class="mt-3 mb-3 success">{{ success }}</h4>
    {% endif  %}

    <a href="."><button type="button" name="submit" class="btn btn-secondary mt-4 mb-3">Назад</button></a>

    <div class="mt-5">
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Выберите автомабиля</label>
                        <p><select required name="brand" class="form-control">
                                <option disabled>Выберите машину</option>
                                {% for car in cars %}
                                    <option value="{{ car.getCarName() }}"
                                        {% if order is defined  and  car.getCarName() == order.car_name %}
                                                selected
                                        {% endif %}>
                                        {{ car.getCarName()}} {{ car.getCarNumber() }}
                                    </option>
                                {% endfor %}
                            </select></p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Арендатор (с серией и номером паспорта)</label><br>
                        <p><select required name="name" class="form-control w-100">
                                <option disabled>Выберите Арендатора</option>
                                {% for user in users %}
                                    <option value="{{ user.getUserPasNumber() }}"
                                        {% if order is defined  and user.getUserFio() == order.user_fio and user.getUserPasNumber() == order.pasport_number %}
                                            selected
                                        {% endif %}>{{ user.getUserFio() }}, Серия: {{ user.getUserPasNumber()|split(' ')[0]}} Номер:
                                        {{ user.getUserPasNumber()|split(' ')[1]}}
                                    </option>
                                {% endfor %}
                        </select></p>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Точка взтия в прокат </label>
                        <select required name="point_out" class="form-control">
                            {% for point in points %}
                                <option value="{{ point.getPointName() }}"
                                    {% if  order is defined  and  point.getPointName() == order.point_start %}
                                        selected
                                    {% endif %}>
                                    {{ point.getPointName()}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Дата взятия в прокат</label><br>
                        <input type="date" class="form-control" required name="date_start" placeholder=""
                            {% if order is defined %}
                               value="{{ order.drive_start|date('Y-m-d') }}"
                            {% endif %}
                        min="{{ '2010-01-01'|date('Y-m-d') }}" max="{{ "now"|date('Y-m-d')|split('-')[0]+1 }}{{ "now"|date('-m-d') }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Время взятия в прокат: </label>
                        <select required name="hour_out" class="form-control time ml-3">
                            <option disabled>Часы</option>
                            {% for  i in 0..23 %}
                                <option value="{{ i }}"
                                    {% if order is defined and i == order.drive_start|date('H') %}
                                        selected
                                    {% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select required name="min_out" class="form-control time ml-2">
                            <option disabled>Минуты</option>
                            {% for  i in 0..59 %}
                                <option value="{{ i }}"
                                    {% if order is defined and  i == order.drive_start|date('i') %}
                                        selected
                                    {% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Точка возврата в прокат </label>
                        <select required name="point_in" class="form-control">
                            {% for point in points %}
                                <option value="{{ point.getPointName() }}"
                                    {% if order is defined  and  point.getPointName() == order.point_end %}
                                        selected
                                    {% endif %}>
                                    {{ point.getPointName()}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Дата возврата в прокат</label><br>
                        <input type="date" class="form-control" required name="date_end" placeholder=""
                           {% if order is defined %}
                                value="{{ order.drive_end|date('Y-m-d') }}"
                            {% endif %} min="{{ '2010-01-01'|date('Y-m-d') }}" max="{{ "now"|date('Y-m-d')|split('-')[0]+1 }}{{ "now"|date('-m-d') }}">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Время возврата в прокат: </label>
                        <select required name="hour_in" class="form-control time ml-3">
                                <option disabled>Часы</option>
                            {% for  i in 0..24 %}
                                <option value="{{ i }}"
                                    {% if order is defined and i == order.drive_end|date('H') %}
                                        selected
                                    {% endif %}>{{ i }}</option>
                            {% endfor %}
                            </select>
                        <select required name="min_in" class="form-control time ml-2">
                            <option disabled>Минуты</option>
                            {% for  i in 0..23 %}
                                <option value="{{ i }}"
                                    {% if order is defined and i == order.drive_end|date('i') %}
                                        selected
                                    {% endif %}>{{ i }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Цена в руб.</label><br>
                        <input type="number" class="form-control" required name="price" placeholder="1000"
                            {% if order is defined %}
                                value="{{ order.price }}"
                           {% endif %} min=1>
                    </div>

                    <div class="container-fluid">
                        <button type="submit" name="submit" class="btn btn-success mt-5 mb-5">
                            {% if order is defined %}
                                Изменить
                            {% else %}
                                Добавить
                            {% endif  %}

                        </button>
                    </div>
                    </div>
                </div>
        </form>
        <a href="/users/add"><button type="button" class="btn btn-secondary">Добавить арендатора</button></a>

    </div>
</div>

{% endblock body %}
