{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2 class="m-4">Управление арендой</h2>


    <div class="container-fluid">
        <a href="add"><button type="submit" class="btn btn-success mt-5">Добавить аренду</button></a>
    </div>

    <table class="table table-striped table-bordered table-hover tableID">
        <thead>
        <tr>
            <th class="function"></th>
            <th class="center align-middle">Марка автомобиля</th>
            <th class="center align-middle">Номер автомобиля</th>
            <th class="center align-middle">ФИО арендатора,<p>серия и номер паспорта</p></th>
            <th class="center align-middle">Цена (руб.)</th>
            <th class="center align-middle">Дата взятия в прокат</th>
            <th class="center align-middle">Дата возврата в прокат</th>
            <th class="center align-middle">Точка взятия автомобия и адрес</th>
            <th class="center align-middle">Точка сдачи автомобиля и адрес</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td class="function">
                <a href="change?rent={{ order.id_order }}">
                    <button  class=" btn btn-warning" style="padding: 3px" value="">
                        Именить
                    </button>
                </a>
                <button  class=" btn btn-danger pl-1 pr-2 mt-1 mb-3 del "  value="{{ order.id_order }}" style="padding: 3px">Удалить</button>
            </td>
            <td>{{ order.car_name }} </td>
            <td class="center">{{ order.number_car }} </td>
            <td> {{ order.user_fio }},
                Серия: {{ order.pasport_number|split(' ')[0] }} Номер: {{ order.pasport_number|split(' ')[1] }} </td>
            <td> {{ order.price }} </td>
            <td class="center">{{ order.drive_start|date('d.m.Y H:i') }} </td>
            <td class="center">{{ order.drive_end |date('d.m.Y H:i') }} </td>
            <td class="center">{{ order.point_start }},<p>{{ order.point_start_adr }}</p></td>
            <td class="center">{{ order.point_end }},<p>{{ order.point_end_adr }}</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
