{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2 class="m-4">Машины</h2>


    <div class="container-fluid">
        <a href="add"><button type="submit" class="btn btn-success mt-5">Добавить машину</button></a>
    </div>

    <table class="table table-striped table-bordered table-hover tableID">
        <thead>
        <tr>
            <th class="function"></th>
            <th class="center align-middle">Название машины</th>
            <th class="center align-middle">Номер машины</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td class="function">
                    <a href="change?car={{ car.getCarId }}">
                        <button  class=" btn btn-warning pb-1 pl-1 pr-2 pt-1">
                            Именить
                        </button>
                    </a>
                    <button  class=" btn btn-danger pl-1 pr-2 del"  value="{{ car.getCarId }}" style="padding: 3px">Удалить</button>
                </td>
                <td class="w-50">{{ car.getCarName }} </td>
                <td  class="w-25">{{ car.getCarNumber}} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
