{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid pl-5">
    <h2 class="m-4 ">Машина</h2>

    {% if error is defined %}
        <h4 class="mt-3 mb-3 error">{{ error }}</h4>
    {% endif  %}

    {% if success is defined %}
        <h4 class="mt-3 mb-3 success">{{ success }}</h4>
    {% endif  %}

    <a href="."><button type="button" name="submit" class="btn btn-secondary mt-4 mb-3">Назад</button></a>

    <div class="mt-5">
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="h6">Название машины</label><br>
                        <input type="text" class="form-control" required name="brand" placeholder="Toyota Camry"
                                {% if car is defined %}
                                    value="{{ car.getCarName}}"
                                {% endif  %}>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="h6">Номер мащины</label><br>
                        <input type="text" class="form-control" required name="number" placeholder="А336ПМ159"
                            {% if car is defined %}
                                value="{{ car.getCarNumber}}"
                            {% endif  %}>
                    </div>
                    <div class="container-fluid">
                        <button type="submit" name="submit" class="btn btn-success mt-5 mb-5">
                            {% if car is defined %}
                                Изменить
                            {% else %}
                                Добавить
                            {% endif  %}
                            машину
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
