{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid pl-5">
    <h2 class="m-4 ">Арендатор</h2>

    {% if error is defined %}
        <h4 class="mt-3 mb-3 error">{{ error }}</h4>
    {% endif  %}

    {% if success is defined %}
        <h4 class="mt-3 mb-3 success">{{ success }}</h4>
    {% endif  %}

    <a href="."><button type="button" name="submit" class="btn btn-secondary mt-4 mb-3">Назад</button></a>

    <div class="mt-5">
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Фамилия аредатора</label><br>
                        <input type="text" class="form-control" required name="surname" placeholder="Петров"
                            {% if user is defined %}
                                value="{{ user.getUserFio|split(' ') [0]}}"
                            {% endif  %}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Имя аредатора</label><br>
                        <input type="text" class="form-control" required name="name" placeholder="Николай"
                            {% if user is defined %}
                                value="{{ user.getUserFio|split(' ') [1]}}"
                            {% endif  %}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Отчество аредатора</label><br>
                        <input type="text" class="form-control" required name="patronymic" placeholder="Александрович"
                            {% if user is defined %}
                                value="{{ user.getUserFio|split(' ') [2]}}"
                            {% endif  %}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Дата рождения</label><br>
                        <input type="date" class="form-control" required name="date_born" placeholder=""
                            {% if user is defined %}
                                value="{{ user.getUserDateBorn|date('Y-m-d') }}"
                            {% endif %} min="{{ '1900-01-01'|date('Y-m-d') }}" max="{{ "now"|date('Y-m-d')}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Серия паспорта</label><br>
                        <input type="number" class="form-control" required name="pas_serial" placeholder="5324"
                            {% if user is defined %}
                                value="{{ user.getUserPasNumber|split(' ') [0] }}"
                            {% endif %} min="1111" max="9999">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Номер паспорта</label><br>
                        <input type="number" class="form-control" required name="pas_number" placeholder="591681"
                            {% if user is defined %}
                                value="{{ user.getUserPasNumber|split(' ') [1] }}"
                            {% endif %} min="111111" max="999999">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Дата выдачи паспорта</label><br>
                        <input type="date" class="form-control" required name="date_pas" placeholder=""
                                {% if user is defined %}
                                    value="{{ user.getUserPasDate|date('Y-m-d') }}"
                                {% endif %} min="{{ '1900-01-01'|date('Y-m-d') }}" max="{{ "now"|date('Y-m-d')}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Кем выдан паспорт</label><br>
                        <input type="text" class="form-control w-75" required name="pas_who"
                               placeholder="Отделом УФМС России по Пермкому краю в Свердолвском районе гор. Перми"
                                {% if user is defined %}
                            value="{{ user.getUserPasWho }}"
                                {% endif %}>
                    </div>
                </div>

                <div class="col">
                    <h5 class="mt-5">Адрес рeгистрации</h5>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Город </label><br>
                        <input type="text" class="form-control" required name="city" placeholder="Пермь"
                            {% if user is defined %}
                                value="{{ user.getUserPasCity}}"
                            {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Улица, дом и квартира </label><br>
                        <input type="text" class="form-control" required name="adress" placeholder="Ленина дом 8, кв. 56"
                                {% if user is defined %}
                            value="{{ user.getUserPasAdr}}"
                                {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Кем зарегистрирован </label><br>
                        <input type="text" class="form-control w-75" required name="registrate" placeholder="Отделом УФМС России по Пермкому краю в Гайвенском районе гор. Перми"
                            {% if user is defined %}
                                value="{{ user.getUserPasReg}}"
                            {% endif %}>
                    </div>

                    <div class="container-fluid">
                        <button type="submit" name="submit" class="btn btn-success mt-5 mb-5">
                            {% if user is defined %}
                                Изменить
                            {% else %}
                                Добавить
                            {% endif  %}
                             арендатора
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
