{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2 class="m-4">Арендаторы</h2>


    <div class="container-fluid">
        <a href="add"><button type="submit" class="btn btn-success mt-5">Добавить арендатора</button></a>
    </div>

    <table class="table table-striped table-bordered table-hover tableID">
        <thead>
        <tr>
            <th class="function"></th>
            <th class="center align-middle">ФИО аредатора</th>
            <th class="center align-middle">Дата рождения</th>
            <th class="center align-middle">Серия и номер паспорта</th>
            <th class="center align-middle">Дата выдвчи паспорта</th>
            <th class="center align-middle">Кем выдан паспорт</th>
            <th class="center align-middle">Адрес ргистрации</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="function">
                    <a href="change?user={{ user.getUserId }}">
                        <button  class=" btn btn-warning" style="padding: 3px" value="">
                            Именить
                        </button>
                    </a>
                    <button  class=" btn btn-danger pl-1 pr-2 mt-1 mb-3 del"  value="{{ user.getUserId }}" style="padding: 3px">Удалить</button>
                </td>
                <td>{{ user.getUserFio }} </td>
                <td>{{ user.getUserDateBorn|date('d.m.Y') }} </td>
                <td class="center">{{ user.getUserPasNumber }} </td>
                <td> {{ user.getUserPasDate|date('d.m.Y')  }} </td>
                <td class="center">{{ user.getUserPasWho }} </td>
                <td class="center">{{ user.getUserPasCity }}, {{ user.getUserPasAdr }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
